html,
body {
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  display: flex;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 10%);
}
.error {
  filter: grayscale(50%) brightness(0.5);
  pointer-events: none;
}
.loading {
  --text: var(--background);
  --primary: var(--background);
  --secondary: var(--background);
  --button: var(--background);
  --button-hover: var(--background);
  --button-active: var(--background);
}
.blue {
  --primary: hsl(220, 30%, 30%);
  --secondary: hsl(220, 20%, 20%);
  --active: hsl(220, 40%, 40%);
  --button: hsl(220, 60%, 50%);
  --button-hover: hsl(220, 60%, 40%);
  --button-active: hsl(220, 60%, 30%);
}
.pink {
  --primary: hsl(325, 30%, 30%);
  --secondary: hsl(325, 20%, 20%);
  --active: hsl(325, 40%, 40%);
  --button: hsl(325, 60%, 50%);
  --button-hover: hsl(325, 60%, 40%);
  --button-active: hsl(325, 60%, 30%);
}
.lime {
  --primary: hsl(120, 30%, 30%);
  --secondary: hsl(120, 20%, 20%);
  --active: hsl(120, 40%, 40%);
  --button: hsl(120, 60%, 50%);
  --button-hover: hsl(120, 60%, 40%);
  --button-active: hsl(120, 60%, 30%);
}

.header {
  display: flex;
  height: 65px;
  width: 100vw;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary);
  box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.2);
  z-index: 2;
}
.left {
  margin-left: 10px;
}
.center {
  padding-left: 10px;
  margin-right: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.right {
  margin-right: 10px;
}

.title {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  flex-wrap: wrap;
  font-weight: bold;
  min-width: 0px;
}
.logo {
  background-color: var(--background);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: var(--background);
  overflow: scroll;
}

.button {
  display: flex;
  padding: 10px;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  user-select: none;
  gap: 10px;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
}
.button:hover {
  background-color: var(--button-hover);
}
.button:active {
  background-color: var(--button-active);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-self: flex-end;
  background-color: var(--primary);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
  top: 65px;
  height: 0px;
  transition: height 50ms ease-in-out;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.2);
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--button);
}
.circle:hover {
  background-color: var(--button-hover);
}
.circle:active {
  background-color: var(--button-active);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.message {
  margin: 30px;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  background-color: var(--secondary);
}

.subheader {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100vw;
  background-color: var(--secondary);
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
  box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.2);
}

.filter {
  display: flex;
  width: 200px;
  height: 30px;
  background-color: var(--background);
  border-radius: 5px;
}
.textInput {
  flex: 1;
  border-color: transparent;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  outline: none;
}
.filterButton {
  display: flex;
  width: 30px;
  height: 28px;
  background-color: var(--secondary);
  border: 1px solid var(--background);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.filterButton:hover {
  background-color: var(--primary);
}
.filterButton:active {
  background-color: var(--active);
}

.sorter {
  display: flex;
  width: 200px;
  height: 30px;
  gap: 10px;
  justify-content: flex-start;
}
.sorterOpener {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--button);
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
}
.sorterOpener.open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.sorterOpener:hover {
  background-color: var(--button-hover);
}
.sorterOpener:active {
  background-color: var(--button-active);
}

.sorterMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  margin-top: 30px;
  overflow: hidden;
  background-color: var(--primary);
  max-height: 0px;
  text-align: center;
  transition: max-height 50ms linear;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sorterMenu.open {
  max-height: 200px;
}

.sorterMenuItem {
  flex: 1;
  width: 150px;
  margin-top: 5px;
  cursor: pointer;
  background-color: var(--button);
  border-radius: 5px;
  user-select: none;
  color: hsl(0, 0%, 100%);
}
.sorterMenuItem:hover {
  background-color: var(--button-hover);
}
.sorterMenuItem:active {
  background-color: var(--button-active);
}

.sorterReverser {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 15px;
}
.sorterReverser:hover {
  background-color: var(--button-hover);
}
.sorterReverser:active {
  background-color: var(--button-active);
}
