html,
body {
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  display: flex;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 10%);
  --item: hsl(0, 0%, 15%);
  --item-hover: hsl(0, 0%, 30%);
  --item-active: hsl(0, 0%, 40%);
}
.modalOpen {
  filter: grayscale(50%) brightness(0.5);
  pointer-events: none;
}
.loading {
  display: none;
}

.blue {
  --hue: 220;
}

.pink {
  --hue: 325;
}

.lime {
  --hue: 120;
}

.blue,
.pink,
.lime {
  --primary: hsl(var(--hue), 30%, 25%);
  --secondary: hsl(var(--hue), 30%, 15%);
  --button: hsl(var(--hue), 60%, 50%);
  --button-hover: hsl(var(--hue), 60%, 60%);
  --button-active: hsl(var(--hue), 60%, 70%);
}

.mono {
  --primary: hsl(0, 0%, 25%);
  --secondary: hsl(0, 0%, 15%);
  --button: hsl(0, 0%, 50%);
  --button-hover: hsl(0, 0%, 60%);
  --button-active: hsl(0, 0%, 70%);
}

.header {
  display: flex;
  height: 50px;
  width: 100vw;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary);
  z-index: 2;
}
.left {
  margin-left: 10px;
}
.center {
  padding-left: 10px;
  margin-right: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.right {
  margin-right: 10px;
}

.title {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  flex-wrap: wrap;
  font-weight: bold;
  min-width: 0px;
}
.logo {
  background-color: var(--background);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 5px;
}

.headerButton {
  display: flex;
  width: 35px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.headerButton:hover,
.headerButton:focus-visible {
  background-color: var(--button-hover);
}
.headerButton:active {
  background-color: var(--button-active);
}

.body {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
  flex: 1;
  background-color: var(--background);
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.button {
  display: flex;
  padding: 10px;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  user-select: none;
  gap: 10px;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
}
.button:hover,
.button:focus-visible {
  background-color: var(--button-hover);
}
.button:active {
  background-color: var(--button-active);
}

.colorPicker {
  position: absolute;
  top: 50px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  background-color: var(--primary);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 0px;
  transition: max-height 50ms linear;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.2);
}
.colorPicker.open {
  max-height: 200px;
  padding-bottom: 5px;
}

.circle {
  margin: 5px;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--button);
}
.circle:hover,
.circle:focus-visible {
  background-color: var(--button-hover);
}
.circle:active {
  background-color: var(--button-active);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.message {
  margin: 30px;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: var(--secondary);
}

.subheader {
  display: flex;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: var(--secondary);
  left: 0px;
  flex-wrap: wrap;
  z-index: 1;
}
.subheaderButton {
  display: flex;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.subheaderButton:hover,
.subheaderButton:focus-visible {
  background-color: var(--button-hover);
}
.subheaderButton:active {
  background-color: var(--button-active);
}

.filter {
  display: flex;
  width: 160px;
  height: 25px;
  background-color: var(--background);
  border-radius: 5px;
}
.filter:focus-within {
  outline: auto;
}

.textInput {
  width: 130px;
  height: 25px;
  padding-left: 5px;
  border: 0;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  outline: none;
}
.filterButton {
  display: flex;
  width: 25px;
  height: 25px;
  background-color: var(--item);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.filterButton:hover,
.filterButton:focus-visible {
  background-color: var(--item-hover);
}
.filterButton:active {
  background-color: var(--item-active);
}

.sorter {
  display: flex;
  justify-content: flex-start;
}
.sorterOpener {
  width: 160px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--button);
  border-radius: 5px;
  color: black;
}
.sorterOpener.open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.sorterOpener:hover,
.sorterOpener:focus-visible {
  background-color: var(--button-hover);
}
.sorterOpener:active {
  background-color: var(--button-active);
}

.sorterMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  margin-top: 25px;
  overflow: hidden;
  max-height: 0px;
  padding-bottom: 0px;
  text-align: center;
  transition: max-height 50ms linear;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--primary);
}
.sorterMenu.open {
  max-height: 200px;
}

.sorterMenuItem {
  flex: 1;
  width: 150px;
  margin-top: 5px;
  cursor: pointer;
  background-color: var(--item);
  border-radius: 5px;
  user-select: none;
  color: hsl(0, 0%, 100%);
}
.sorterMenuItem:hover,
.sorterMenuItem:focus-visible {
  background-color: var(--item-hover);
}
.sorterMenuItem:active {
  background-color: var(--item-active);
}

.sorterMenuItem:last-child {
  margin-bottom: 5px;
}
