html,
body {
  max-width: 100vw;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  display: flex;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 10%);
}
.modalOpen {
  filter: grayscale(50%) brightness(0.5);
  pointer-events: none;
}
.loading {
  display: none;
}

.blue {
  --hue: 220;
}

.pink {
  --hue: 325;
}

.lime {
  --hue: 120;
}

.blue,
.pink,
.lime {
  --primary: hsl(var(--hue), 30%, 25%);
  --secondary: hsl(var(--hue), 30%, 15%);
  --button: hsl(var(--hue), 60%, 50%);
  --button-hover: hsl(var(--hue), 60%, 60%);
  --button-active: hsl(var(--hue), 60%, 70%);
}

.mono {
  --primary: hsl(0, 0%, 25%);
  --secondary: hsl(0, 0%, 15%);
  --button: hsl(0, 0%, 50%);
  --button-hover: hsl(0, 0%, 60%);
  --button-active: hsl(0, 0%, 70%);
}

.before {
  position: absolute;
  width: 100vw;
}

.header {
  position: relative;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary);
  transition: height 50ms linear;
  z-index: 2;
}
.header.hidden {
  height: 0px;
  overflow: hidden;
}
.left {
  margin-left: 10px;
}
.center {
  padding-left: 10px;
  margin-right: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-right: 10px;
}

.title {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  flex-wrap: wrap;
  font-weight: bold;
  min-width: 0px;
}
.logo {
  background-color: var(--background);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 5px;
}

.headerButton {
  display: flex;
  width: 35px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.headerButton:hover,
.headerButton:focus-visible {
  background-color: var(--button-hover);
}
.headerButton:active {
  background-color: var(--button-active);
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100vw;
  background-color: var(--background);
}

.button {
  display: flex;
  padding: 10px;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  user-select: none;
  gap: 10px;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
}
.button:hover,
.button:focus-visible {
  background-color: var(--button-hover);
}
.button:active {
  background-color: var(--button-active);
}

.colorPicker {
  position: absolute;
  margin-top: 40px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  background-color: var(--primary);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  transition: transform 50ms linear, margin-top 50ms linear;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.2);
  transform-origin: top;
  transform: scaleY(0);
}

.colorPicker.hidden {
  margin-top: 0px;
  overflow: hidden;
}

.colorPicker.open {
  transform: scaleY(1);
  padding-bottom: 5px;
}

.colorPicker * {
  opacity: 0%;
}

.colorPicker.open * {
  opacity: 100%;
  transition: opacity 20ms 30ms linear;
}

.circle {
  margin: 5px;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--button);
}
.circle:hover,
.circle:focus-visible {
  background-color: var(--button-hover);
}
.circle:active {
  background-color: var(--button-active);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.message {
  margin: 30px;
  display: flex;
  font-size: 15px;
  font-weight: bold;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: var(--secondary);
}

.subheader {
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary);
  flex-wrap: wrap;
  gap: 10px;
  z-index: 1;
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.4);
}

.subheaderButton {
  display: flex;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.subheaderButton:hover,
.subheaderButton:focus-visible {
  background-color: var(--button-hover);
}
.subheaderButton:active {
  background-color: var(--button-active);
}

.filter {
  display: flex;
  width: 160px;
  height: 25px;
  background-color: var(--background);
  border-radius: 12px;
}
.filter:focus-within {
  outline: 1px solid var(--button);
}

.textInput {
  width: 130px;
  height: 25px;
  text-align: center;
  border-radius: 12px;
  border: 0;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  outline: none;
}

.filterButton {
  display: flex;
  width: 25px;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  color: hsl(0, 0%, 100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sorter {
  display: flex;
  background-color: var(--button);
  border-radius: 12px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.select {
  width: 100px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  appearance: none;
  font-family: inherit;
}

.sorterReverser {
  width: 24px;
  height: 21px;
  padding-top: 3px;
}

.switch {
  padding: 5px;
  background-color: var(--button);
  border-radius: 10px;
  cursor: pointer;
}
.switch:hover {
  background-color: var(--button-hover);
}
.switch:active {
  background-color: var(--button-active);
}

input[type="number"] {
  width: 15px;
  background-color: var(--secondary);
  color: white;
  border: none;
  outline: none;
  appearance: textfield;
  border-radius: 3px;
  margin-right: 1px;
}

input[type="number"]:focus {
  outline: 1px solid white;
}

.limiter {
  display: flex;
  background-color: var(--button);
  border-radius: 12px;
  height: 24px;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  padding-right: 5px;
}
