:root {
  --hue: 215;
  --primary: hsl(var(--hue), 80%, 60%);
  --secondary: hsl(var(--hue), 60%, 40%);
  --background: hsl(0, 0%, 10%);
  --button: hsl(var(--hue), 80%, 55%);
  --button-hover: hsl(var(--hue), 80%, 45%);
  --button-active: hsl(var(--hue), 80%, 35%);
}

html,
body {
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100vw;
  justify-content: center;
  background-color: var(--primary);
}

.header .left {
  margin-left: 10px;
  position: absolute;
  align-self: flex-start;
}

.header .center {
  position: absolute;
  align-self: center;
}

.header .right {
  margin-right: 10px;
  position: absolute;
  align-self: flex-end;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: var(--background);
  overflow: scroll;
}

.button {
  display: flex;
  padding: 10px;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  user-select: none;
  gap: 10px;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-active);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-self: flex-end;
  background-color: var(--secondary);
  overflow: hidden;
  top: 100px;
  width: 100px;
  height: 0px;
  transition: height 100ms ease-in-out;
  border-bottom-left-radius: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
