.body {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  background-color: var(--background);
  overflow-y: scroll;
  gap: 20px;
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 230px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
  background-color: var(--secondary);
}
.playlist:hover {
  background-color: var(--primary);
}
.playlist:active {
  background-color: var(--active);
}

.playlist .button {
  margin: 10px;
  align-self: flex-end;
  display: flex;
  padding: 10px;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  user-select: none;
}
.playlist .button:hover {
  background-color: var(--button-hover);
}
.playlist .button:active {
  background-color: var(--button-active);
}

.playlist .name {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}

.playlist .text {
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: clip;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.playlist .details {
  width: 100%;
  flex: 1;
}

.playlist .image {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 150px;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title {
  font-size: 50px;
}

.text {
  font-size: 20px;
}
