.playlists {
  margin-top: 20px;
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  background-color: var(--background);
  gap: 20px;
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 230px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  color: var(--button);
}
.playlist:hover,
.playlist:focus-visible {
  color: var(--button-hover);
}
.playlist:active {
  color: var(--button-active);
}

.playlist .button {
  display: flex;
  width: 35px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  margin: 10px;
}
.playlist .button:hover,
.playlist .button:focus-visible {
  background-color: var(--button-hover);
}
.playlist .button:active {
  background-color: var(--button-active);
}

.playlist .name {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}

.playlist .text {
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: clip;
  margin-bottom: 10px;
}

.playlist .details {
  width: 100%;
  flex: 1;
}

.playlist .image {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 150px;
  aspect-ratio: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
}

.title {
  font-size: 50px;
}

.text {
  font-size: 20px;
}
