.body {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  background-color: hsl(0, 0%, 10%);
  overflow-y: scroll;
  gap: 20px;
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: hsl(var(--hue), 80%, 55%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  user-select: none;
  overflow: hidden;
}

.playlist .name {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: black;
}

.playlist .button {
  margin: 10px;
  align-self: flex-end;
  display: flex;
  padding: 10px;
  background-color: hsl(var(--hue), 80%, 55%);
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  cursor: pointer;
  user-select: none;
}

.playlist .button:hover {
  background-color: hsl(var(--hue), 80%, 45%);
}

.playlist .button:active {
  background-color: hsl(var(--hue), 80%, 35%);
}

.playlist .text {
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: clip;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.playlist .details {
  width: 200px;
  cursor: pointer;
  flex: 1;
  background-color: hsl(var(--hue), 80%, 55%);
}

.playlist .details:hover {
  background-color: hsl(var(--hue), 80%, 45%);
}

.playlist .details:active {
  background-color: hsl(var(--hue), 80%, 35%);
}

.playlist .image {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 200px;
  height: 200px;
}

.title {
  font-size: 50px;
  color: black;
}

.text {
  font-size: 20px;
  color: black;
}
