.details {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

.image {
  width: 220px;
  height: 220px;
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.4);
}
.title {
  font-size: 20px;
  font-weight: 700;
}
.subtitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 700;
}
.owner {
  color: var(--button);
}
.owner:hover {
  color: var(--button-hover);
}
.owner:active {
  color: var(--button-active);
}
.button {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 100%;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
}
.button:hover {
  background-color: var(--button-hover);
}
.button:active {
  background-color: var(--button-active);
}

.track {
  width: 90%;
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 5px;
  user-select: none;
  padding-right: 10px;
  cursor: pointer;
}
.track:hover {
  background-color: var(--primary);
}
.track:active {
  background-color: var(--active);
}

.track .image {
  width: 50px;
  height: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.track .details {
  flex: 1;
  margin-left: 10px;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.track .name {
  font-weight: 700;
  flex: 1;
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.track .album {
  flex: 1;
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.track .artists {
  flex: 1;
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.track .date {
  font-size: 15px;
  margin-right: 10px;
}

.track .index {
  font-size: 30px;
}
