.body {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
  flex: 1;
  background-color: var(--background);
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.subheader {
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 60px;
  background-color: var(--secondary);
  flex-wrap: wrap;
  gap: 10px;
  z-index: 1;
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.4);
}

.image {
  margin-left: 20px;
  width: max(200px, 18vw);
  aspect-ratio: 1;
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.4);
  border-radius: 5px;
}

.details {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.details .subtitle {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  font-weight: 700;
}

.details .subtitle .owner {
  color: var(--button);
  cursor: pointer;
}

.details .subtitle .owner:hover,
.details .subtitle .owner:focus-visible {
  color: var(--button-hover);
}

.details .subtitle .owner:active {
  color: var(--button-active);
}

.button {
  width: 45px;
  aspect-ratio: 1;
  display: flex;
  border-radius: 100%;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
}

.button:hover,
.button:focus-visible {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-active);
}
