.body {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
  flex: 1;
  background-color: var(--background);
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 20px;
}

.playlist {
  display: flex;
  padding: 10px;
  padding-bottom: 0px;
  flex-direction: column;
  gap: 10px;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.image {
  width: 220px;
  height: 220px;
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.4);
}
.name {
  font-size: 20px;
  font-weight: 700;
}
.owner {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 700;
}

.track {
  width: 90%;
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
  border-radius: 12px;
  user-select: none;
  gap: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.track:hover {
  background-color: var(--primary);
}
.track:active {
  background-color: var(--active);
}

.track .image {
  width: 50px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.track .details {
  flex: 1;
  display: flex;
  align-items: center;
}

.track .name {
  font-weight: 700;
  flex: 1;
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.track .album {
  flex: 1;
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.track .artists {
  flex: 1;
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.track .date {
  font-size: 15px;
}

.track .index {
  font-size: 30px;
}
