.track {
  width: 90%;
  display: flex;
  align-items: center;
  color: var(--button);
  border-radius: 5px;
  user-select: none;
  padding-right: 10px;
  cursor: pointer;
}

.track:hover,
.track:focus-visible {
  color: var(--button-hover);
}

.track:active {
  color: var(--button-active);
}

.image {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
}

.name,
.album,
.artists,
.details {
  flex: 1;
}
.details {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0px;
  font-size: 13px;
}

.name,
.album,
.artists {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.name {
  font-weight: 700;
}

.date {
  font-size: 15px;
  margin-right: 10px;
}

.index {
  font-size: 20px;
}
