.body {
  padding-top: 50px;
  align-items: center;
  flex: 1;
  background-color: var(--background);
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playlists {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  background-color: var(--background);
  gap: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}
.subtitle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 700;
}

.image {
  aspect-ratio: 1;
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.4);
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max(150px, 11.5vw);
  aspect-ratio: 2/3;
  user-select: none;
  cursor: pointer;
  color: var(--button);
  overflow: hidden;
}
.playlist:hover,
.playlist:focus-visible {
  color: var(--button-hover);
}
.playlist:active {
  color: var(--button-active);
}

.playlistButton {
  display: flex;
  width: 35px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--button);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  margin: 10px;
}
.playlistButton:hover,
.playlistButton:focus-visible {
  background-color: var(--button-hover);
}
.playlistButton:active {
  background-color: var(--button-active);
}

.playlistName {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}

.playlistText {
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: clip;
  margin-bottom: 10px;
}

.playlistImage {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.3);
  background-size: 100% 100%;
  color: var(--button);
  cursor: pointer;
}

.following {
  color: var(--button);
  cursor: pointer;
}
.following:hover,
.following:focus-visible {
  color: var(--button-hover);
}

.following:active {
  color: var(--button-active);
}
